/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
/* End of Fonts */

/* General styling */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
:root {
  --clr-primary1: blue;
  --clr-primary2: blue;
  --clr-primary3: blue;
  --clr-primary4: blue;
  --clr-secondary: lightblue;
  --clr-dark: black;
  --clr-light: white;
}
html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.flex {
  display: flex;
  gap: var(--gap, 2rem);
}
.btn {
  border-radius: 15px;
  text-decoration: none;
  background: #f43b47;
  border-color: white;
  color: #210425;
  outline-width: 0;
  padding: 0.4rem 1.2rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  height: auto;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 2em;
  margin-bottom: 2em;
  transition: 0.3s ease;
}
.btn:hover {
  background: #4c9d80;
  border-color: white;
  color: white;
  outline-width: 1;
}
.circle {
  z-index: 0;
  width: 20px;
  height: 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 1s infinite;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

/* End of General styling */
.hero-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  contain: strict;
  perspective: 80px;
  perspective-origin: 50%;
  z-index: 1;
}
#block-hero {
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  overflow: hidden;

  height: 100vh;
  min-height: 100vh;
}

.hero-content {
  position: absolute;
  z-index: 200;
  align-items: flex-start;
  letter-spacing: 2px;
  justify-content: space-between;
  height: max(500px, 70vh);
}
.section-content {
  z-index: 100;
  padding: 5vh 7vw;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}
.eggs {
  position: absolute;
  bottom: -1.1%;
  left: 0;
}
.eggs img {
  opacity: 0.5;
  z-index: 0;
}
.hero-navigation-btn {
  position: fixed;
  top: 2%;
  right: 2%;

  z-index: 999;
}
.hero-navigation-btn img {
  scale: 0.8;
  cursor: pointer;
}
.hero-navigation-menu {
  height: 100vh;
  width: 24vw;
  position: fixed;
  right: -600px;
  background-color: rgba(76, 157, 128, 0.95);
  z-index: 998;
  transition: 1s ease-in-out;
}

.hero-navigation-menu h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  color: var(--clr-light);
  padding: 1rem 2rem;
  margin-bottom: 30px;
  margin-top: 30px;
}
.hero-navigation-menu ul {
  list-style: none;
}
.hero-navigation-menu ul li {
  margin: 40px;
}
.hero-navigation-menu ul li a {
  text-decoration: none;
  color: var(--clr-light);
  font-size: 1rem;
  padding: 1rem 0.4rem;
  transition: 0.4s ease;
}
.hero-navigation-menu ul li:hover a {
  text-decoration: none;
  color: var(--clr-secondary);
  padding-left: 1rem;
}
.hero-social {
  position: absolute;
  gap: 1em;
  left: 0;
  bottom: 0;
  z-index: 200;
  justify-content: flex-end;
}
.section-content-hz {
  z-index: 100;
  padding: 5vh 7vw;
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-self: center;
  flex-wrap: wrap;
}
.section-content-hz a i {
  font-size: 2.5rem;
  padding-right: 1rem;
  opacity: 0.8;
  color: white;
}
.section-content-hz a:hover i {
  outline: white;
  opacity: 1;
  color: rgb(76, 157, 129);
}
.hero-title {
  font-family: "Staatliches", cursive;
  color: #fdf463;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 62px;
}
.hero-semi-title {
  color: #49abe0;
  /* text-transform: uppercase; */
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 10px;
}
.hero-desc {
  color: var(--clr-light);
  /* text-transform: uppercase; */
  font-weight: 300;
  font-size: 15px;
}
.hero-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  contain: strict;
  perspective: 80px;
  perspective-origin: 50%;
  z-index: 1;
}
.epiccaracter {
  position: absolute;
  right: 550px;
  bottom: 0;
  height: 50%;
}

.rarecaracter {
  position: absolute;
  right: 220px;
  bottom: 0;
  height: 60%;
  scale: 1.2;
}
.communcaracter {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 40%;
}
.logotxt {
  text-transform: uppercase;
  z-index: 10;
  font-size: 1.3rem;
  color: #4c9d80;
  margin-top: -100px;
  margin-left: 80px;
}

.btns-area {
  margin-top: -30px;
}

/* collect section styling */

#block-collect {
  background-color: white;
  min-height: 80vh;
  /* background-image: linear-gradient(to top, #e53bf4 0%, #3a7394 100%);

  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply; */
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.pods-container {
  z-index: 1;
  position: absolute;
  overflow: hidden;
  width: 70%;
  right: 0;
  height: 100%;
  contain: strict;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}
.pod-svg {
  position: absolute;
  width: auto;
  contain: content;
}

.pod-svg.left {
  bottom: -5%;
  height: 40%;
  left: 22%;
  scale: 1;
}
.pod-svg.right {
  bottom: 10%;
  height: 35%;
  right: 0;
  scale: 1;
  transform: rotate(10deg);
}
.pod-svg.center {
  bottom: 0%;
  right: 19%;
  height: 60%;
  z-index: 9;
  scale: 1;
}
.collect-title {
  font-size: 3rem;
  font-weight: 700;
  color: #6e2f65;
}
.collect-semi-title {
  font-size: 1.8rem;
  font-weight: 300;
  color: #6e2f65;
}
.collect-desc {
  margin-top: 20px;
  color: #424242;
}

.dragon-tiers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 2em;
  width: 33%;
}
.tier {
  flex: 2;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1em;
  font-size: 0.9vw;
}
.tier span {
  font-size: 1rem;
}
/* End of collect section styling */

/* About section styling */
#block-about {
  display: flex;
  flex-direction: row;
  height: 80vh;
  background-color: white;
  min-height: 100vh;

  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}

.image-container {
  height: 100%;
  width: 40%;
}
.image-container img {
  height: 80%;
  margin: 50px 30px;
}
.textarea {
  padding: 1rem 2rem 2rem 2rem;
}
.textarea h1 {
  font-size: 5rem;
  color: #303030;
}

.textarea h2 {
  font-size: 2rem;
  color: #fff5c6;
  padding-bottom: 30px;
}
.textarea p {
  font-size: 1rem;
  line-height: 30px;
  color: #bebebe;
}
.btnarea {
  justify-content: space-evenly;
}
.btnarea .btn {
  background-color: #fd7ce8;
}
.btnarea .btn:hover {
  background-color: #7b60c4;
}
/* End of About section styling */

/* Gallery styling */
#block-gallery {
  height: 80vh;
  padding: 3rem;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  flex-direction: column;
  flex-wrap: wrap;
}
.gallery-eggs {
  /* border: 1px solid red; */
  height: 50%;
  margin-bottom: 20px;
}
.gallery-dragons {
  /* border: 1px solid rgb(0, 204, 10); */
  height: 50%;
}
.gallery-eggs h1,
.gallery-dragons h1 {
  color: white;
  text-align: center;
  font-size: 3rem;
}
.gallery-eggs img,
.gallery-dragons img {
  border: 3px solid white;
  border-radius: 6%;
  display: block;
  margin: 20px auto;
  width: 300px;
  transition: 0.1s;
}
/* End of Gallery styling */

/* Roadmap Styling */

#block-roadmap {
  padding: 2rem 2rem;
  height: auto;
  min-height: 100vh;
  background: linear-gradient(181deg, #975401, #d257ff);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 24s ease infinite;
  -moz-animation: AnimationName 24s ease infinite;
  -o-animation: AnimationName 24s ease infinite;
  animation: AnimationName 24s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 48% 0%;
  }
  50% {
    background-position: 53% 100%;
  }
  100% {
    background-position: 48% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 48% 0%;
  }
  50% {
    background-position: 53% 100%;
  }
  100% {
    background-position: 48% 0%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 48% 0%;
  }
  50% {
    background-position: 53% 100%;
  }
  100% {
    background-position: 48% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 48% 0%;
  }
  50% {
    background-position: 53% 100%;
  }
  100% {
    background-position: 48% 0%;
  }
}
.roadmap-container {
  padding: 2rem;
  margin: 0 auto;
  max-width: 800px;
}
#timeline .timeline-item:after,
#timeline .timeline-item:before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

#timeline {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #6e2f65;
  left: 50%;
  top: 0;
  position: absolute;
}

#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}

#timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}

#timeline .timeline-item .timeline-icon {
  background: #6e2f65;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -23px;
  border-radius: 50%;
}

#timeline .timeline-item .timeline-icon svg {
  position: relative;
  top: 14px;
  left: 14px;
}

#timeline .timeline-item .timeline-content {
  width: 45%;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#timeline .timeline-item .timeline-content h2 {
  padding: 15px;
  background: #6e2f65;
  color: #fff;
  margin: -20px -20px 0 -20px;
  font-weight: 300;
  border-radius: 3px 3px 0 0;
}
#timeline .timeline-item .timeline-content p {
  padding: 20px;
}
#timeline .timeline-item .timeline-content .btn {
  background-color: #6e2f65;
  padding: 10px;
}
.project-name {
  font-size: 4rem;
  text-align: center;
  color: white;
  padding-bottom: 40px;
}
#timeline .timeline-item .timeline-content:before {
  content: "";
  position: absolute;
  left: 45%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #6e2f65;
}

#timeline .timeline-item .timeline-content.right {
  float: right;
}

#timeline .timeline-item .timeline-content.right:before {
  content: "";
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid #6e2f65;
}

@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  .project-name {
    font-size: 3rem;
    text-align: center;
    color: white;
    padding-bottom: 40px;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item .timeline-content {
    width: 95%;
    float: right;
  }
  #timeline .timeline-item .timeline-content:before,
  #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #6e2f65;
  }
  #timeline .timeline-item .timeline-icon {
    left: 0;
  }
  #timeline .timeline-item .timeline-content h2 {
    padding: 5px;
    font-size: 20px;
    letter-spacing: 1px;
  }
  #timeline .timeline-item .timeline-content p {
    padding: 5px;
    font-size: 15px;
    letter-spacing: 1px;
  }
}

/* End of Roadmap Styling */

/* Team section styling */
#block-team {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #b3f6ff;
}
#block-team h1 {
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  color: #210425;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}
.container .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .card .imgBx img {
  height: 60%;
  width: 90%;
}
.container .card .content {
  position: absolute;
  bottom: -160px;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  backdrop-filter: blur(15px);
  background-color: rgba(48, 48, 48, 0.459);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: bottom 0.5s;
}

.container .card:hover .content {
  bottom: 0;
}

.container .card .content .contentBx h3 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 15px;
  line-height: 1.1em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-20px);
  transition-delay: 0.6s;
}
.container .card:hover .content .contentBx h3 {
  opacity: 1;
  transform: translateY(0px);
}
.container .card .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}
.container .card .content .sci {
  position: relative;
  bottom: 10px;
  display: flex;
}
.container .card .content .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.2s * var(--i));
}
.container .card:hover .content .sci li {
  transform: translateY(0px);
  opacity: 1;
}
.container .card .content .sci li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 24px;
}
.container .card .content .sci li a i {
  color: rgb(0, 0, 0);
  font-size: 24px;
}
.container .card .content .sci li a i:hover {
  color: rgb(0, 100, 95);
  font-size: 24px;
}
/* End of Team section styling */

@media only screen and (max-width: 1000px) {
  #block-gallery {
    height: auto;
    padding: 1rem;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
  .pod-svg {
    position: absolute;
    width: auto;
    contain: content;
    display: inline;
  }

  .pod-svg.left {
    bottom: 0%;
    right: 50%;
    height: 30%;
  }
  .pod-svg.right {
    bottom: 0%;
    height: 30%;
    right: 0;
  }
  .pod-svg.center {
    bottom: 0%;
    right: 18%;
    height: 40%;
  }
  .collect-title {
    font-size: 3rem;
    font-weight: 700;
  }
  .collect-semi-title {
    font-size: 2rem;
    font-weight: 300;
    color: rgb(100, 100, 100);
  }
  .collect-desc {
    margin-top: 20px;
  }

  .dragon-tiers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 2em;
    width: 33%;
  }
  .tier {
    flex: 2;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1em;
    font-size: 0.9vw;
  }
  .image-container {
    height: 100%;
    width: 40%;
  }
  .image-container img {
    height: 70%;
    width: 100%;
    margin: 20px 10px;
  }
  .textarea {
    padding: 1rem 1rem 1rem 1rem;
    margin-right: 0;
  }
  .textarea h1 {
    font-size: 4rem;
    color: #303030;
  }

  .textarea h2 {
    font-size: 1.5rem;
    color: #fff5c6;
    padding-bottom: 30px;
  }
  .textarea p {
    font-size: 1rem;
    line-height: 20px;
    color: #bebebe;
  }
  .btnarea {
    justify-content: space-evenly;
  }
  .btnarea .btn {
    background-color: #fd7ce8;
  }
  .btnarea .btn:hover {
    background-color: #7b60c4;
  }
}
@media only screen and (max-width: 600px) {
  .hero-navigation-menu {
    width: 50vw;
  }
  .hero-content.btn {
    margin-top: 0;
  }
  .hero-title {
    font-weight: 600;
    font-size: 40px;
  }
  .epiccaracter {
    position: absolute;
    left: 0;
    bottom: 10%;
    height: 30%;
  }
  .communcaracter {
    display: none;
  }
  .rarecaracter {
    position: absolute;
    right: 0;
    bottom: 10%;
    height: 30%;
  }

  .hero-social {
    position: absolute;
    bottom: 0%;
  }
  .collect-title {
    font-weight: 600;
    font-size: 35px;
    line-height: 40px;
  }
  .collect-semi-title {
    font-weight: 300;
    font-size: 1rem;
  }
  .pod-svg {
    display: none;
  }

  .dragon-tiers {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    gap: 1em;
    width: 33%;
    margin-left: 30%;
  }
  span {
    font-size: 1.2rem;
  }
  #block-about {
    flex-direction: row;
  }
  .image-container {
    display: none;
  }
  .image-container img {
    height: 70%;
    width: 100%;
    margin: 20px 10px;
  }
  .textarea {
    padding: 1rem 1rem 1rem 1rem;
    margin-right: 0;
  }
  .textarea h1 {
    font-size: 4rem;
    color: #303030;
  }

  .textarea h2 {
    font-size: 1.5rem;
    color: #fff5c6;
    padding-bottom: 30px;
  }
  .textarea p {
    font-size: 1rem;
    line-height: 20px;
    color: #bebebe;
  }
  .btnarea {
    justify-content: space-evenly;
  }
  .btnarea .btn {
    background-color: #fd7ce8;
  }
  .btnarea .btn:hover {
    background-color: #7b60c4;
  }
}

@media only screen and (max-width: 400px) {
  .logotxt {
    font-size: 0.8rem;
  }
  .hero-navigation-menu {
    width: 100vw;
  }
  .hero-title {
    font-weight: 600;
    font-size: 30px;
  }
  .epiccaracter {
    display: none;
  }
  .communcaracter {
    display: none;
  }
  .rarecaracter {
    position: absolute;
    right: 13%;
    bottom: 10%;
    height: 30%;
  }

  .hero-social {
    position: absolute;
    bottom: 0%;
  }
}
