.justify-content {
  justify-content: center;
}
.align-items {
  align-items: center;
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.page-wrapper {
  /* border: 1px solid red; */
  height: auto;
  background: linear-gradient(181deg, #000000, #0c0e66);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 24s ease infinite;
  -moz-animation: AnimationName 24s ease infinite;
  -o-animation: AnimationName 24s ease infinite;
  animation: AnimationName 24s ease infinite;
}
#block-whitepaper {
  /* border: 1px solid rgb(0, 94, 23); */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 300px auto;
  margin-right: auto;
  margin-left: auto;
  line-height: 45px;
  letter-spacing: 1px;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 48% 0%;
  }
  50% {
    background-position: 53% 100%;
  }
  100% {
    background-position: 48% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 48% 0%;
  }
  50% {
    background-position: 53% 100%;
  }
  100% {
    background-position: 48% 0%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 48% 0%;
  }
  50% {
    background-position: 53% 100%;
  }
  100% {
    background-position: 48% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 48% 0%;
  }
  50% {
    background-position: 53% 100%;
  }
  100% {
    background-position: 48% 0%;
  }
}
article {
  /* border: 1px solid rgb(255, 255, 255); */
  color: white;
  padding: 2rem 3rem;
  max-width: 930px;
}
article .article-title {
  text-align: center;
  font-size: 2rem;
  color: rgb(206, 33, 163);
  text-shadow: 0 10px 25px rgba(241, 241, 241, 0.308);
  padding-bottom: 60px;
  text-transform: uppercase;
}
article .article-content {
  text-align: start;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}
.minting-table table {
  letter-spacing: 1px;
  line-height: 20px;
  border: 3px solid rgb(206, 33, 163);
  margin-bottom: 30px;
  margin-top: 30px;
}
.minting-table table td {
  padding: 10px 15px;
  width: 300px;
  text-align: start;
}

article {
}

article .article-content {
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
@media only screen and (min-width: 1500px) {
  #block-whitepaper {
    /* border: 1px solid rgb(0, 94, 23); */
    padding: 1rem 50px;
    line-height: 55px;
    letter-spacing: 1px;
  }
  article {
    color: white;
    margin-bottom: 70px;
    max-width: 1500px;
  }
  article .article-title {
    text-align: center;
    font-size: 2.9rem;
    color: rgb(206, 33, 163);
    text-shadow: 0 10px 25px rgba(241, 241, 241, 0.308);
    padding-bottom: 60px;
  }
  article .article-content {
    text-align: start;
    font-size: 2rem;
    color: rgb(255, 255, 255);
  }
  .minting-table table {
    letter-spacing: 1px;
    line-height: 20px;
    border: 3px solid rgb(206, 33, 163);
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .minting-table table td {
    padding: 5px 5px;
    width: 300px;
    text-align: start;
  }

  article {
  }

  article .article-content {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  #block-whitepaper {
    /* border: 1px solid rgb(0, 94, 23); */
    padding: 1rem 50px;
    line-height: 30px;
    letter-spacing: 0.6px;
  }
  article {
    color: white;
    margin-bottom: 70px;
    min-width: 340px;
  }
  article .article-title {
    text-align: center;
    font-size: 2rem;
    line-height: 40px;
    color: rgb(206, 33, 163);
    text-shadow: 0 10px 25px rgba(241, 241, 241, 0.308);
    padding-bottom: 60px;
  }
  article .article-content {
    text-align: start;
    font-size: 1rem;
    color: rgb(255, 255, 255);
  }
  .minting-table table {
    letter-spacing: 1px;
    line-height: 20px;
    border: 3px solid rgb(206, 33, 163);
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .minting-table table td {
    padding: 5px 5px;
    width: 300px;
    text-align: start;
  }

  article {
  }

  article .article-content {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
