/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.token {
  color: #800059;
  font-size: 1rem;
  font-family: "Poppins";
}

.stack-interface {
  /* border: 1px solid red; */
  padding: 20px;
  padding-bottom: 20px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: space-evenly;
}
.col {
  height: 90vh;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #2222229d;
  overflow-y: scroll;
  /* border: 1px solid red; */
}
.col1 {
  width: 45%;
}
.col2 {
  width: 60%;
}

.containerr {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 60%;
  /* border: 1px solid rgb(0, 255, 42); */
}
.containerr-title p {
  font-size: 2rem;
  font-weight: 500;
  color: #800059;
  text-align: center;
  text-shadow: 1px 1px 5px #000000;
}
.nfts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: scroll;
  justify-content: start;
  height: 90%;
  border: 2px solid rgb(77, 77, 77);
  padding: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 130px;
  height: 150px;
  border: 1px solid #fff;
  padding: 7px;
  background-color: #222222;
  /* box-shadow: 2px 2px 10px rgba(224, 167, 60, 0.856); */
  transition: 0.4s ease;
}
.card:hover {
  box-shadow: 2px 2px 25px #800059;
}

.card-img {
  height: 80%;
  transition: 0.3s ease;
}
.card-img img {
  /* border-radius: 4px; */
}
.card-description {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.card-description p {
  transition: 1s ease;
}
.stake-btn {
  padding: 10px 15px;
  width: 200px;
  align-self: center;
  border-radius: 30px;
  background-color: #222222;
  color: #fff;
  font: "Poppins", sans-serif;
  transition: 0.3s ease;
  letter-spacing: 3px;
  border: none;
  margin-bottom: 30px;
}
.stake-btn:hover {
  cursor: pointer;
  background-color: #757575;
  letter-spacing: 4px;
}

.rewnfts {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.rewnfts .rewards-container {
  border: 2px solid rgb(77, 77, 77);
  height: 100px;
  width: 20%;
  background-color: #22222273;
  padding: 10px 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rewnfts .nfts-container {
  border: 2px solid rgb(77, 77, 77);
  height: 260px;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: scroll;
  justify-content: start;
  padding: 10px;
}

@media screen and (max-width: 1277px) {
  .btn {
    padding: 7px 14px;
    font-size: 12px;
  }
  .forge-container {
    width: 600px;
  }
}
@media screen and (max-width: 1050px) {
  .stack-interface {
    padding: 20px;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
  }
  .col {
    height: 690px;
    width: 90%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #2222229d;
    overflow-y: scroll;
    /* border: 1px solid red; */
  }
  .containerr {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    /* border: 1px solid rgb(0, 255, 42); */
  }
  .stake-btn {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 775px) {
  .btn {
    padding: 7px 14px;
    font-size: 8px;
  }
}
@media screen and (max-width: 625px) {
  .btn {
    padding: 7px 14px;
    font-size: 6px;
    border-radius: 10px;
  }
  .mint-interface {
    padding: 0px 20px;
    font-family: "Poppins", sans-serif;
  }
  .nav {
    display: block;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }
  .title {
    /* border: 1px solid green; */
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 5px 5px 20px #000000;
  }
}
